  <% if locals[:cocktail].photo.attached? == false %>
  <% background_url = image_path 'sample.png' %>
  <% else %>
  <% background_url = image_path 'sample.png' %>
  <% end %>
  <div class="card" style="background-image: url('<%= background_url %>'); background-size: cover;">
    <div class="card-infos">
      <h2><%= link_to "#{locals[:cocktail].name}", cocktail_path(locals[:cocktail]) %></h2>
      <!-- <span class="flag-icon flag-icon-kr"></span> -->
    </div>
  </div>
