<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <% @cocktails.each do |cocktail| %>
        <%= cocktail.name %>
        <%= cocktail.birthplace %>
      <% end %>
    </div>
  </div>
</div>
