<div class="card">
  <% if locals[:cocktail].photo.attached? == false %>
  <%= image_tag 'sample.png' %>
  <% else %>
  <%= image_tag 'sample.png' %>
  <% end %>
  <div class="card-infos">
    <%# locals[:cocktail].name %>
    <h2><%= link_to "#{locals[:cocktail].name}", cocktail_path(locals[:cocktail]) %></h2>
    <!-- <p><%= locals[:cocktail].country %></p> -->
    <span class="flag-icon flag-icon-kr"></span>
  </div>
</div>
