  <% if locals[:cocktail].photo.attached? %>
  <% background_url = cl_image_path locals[:cocktail].photo.key %>
  <%# raise %>
  <% else %>
  <% background_url = image_path 'sample.png' %>
  <% end %>
  <div class="card" style="background-image: url('<%= background_url %>'); background-size: cover;">
    <div class="card-infos">
      <h2>
        <a onclick="showCocktailModal(<%= locals[:cocktail].id %>)" id="cocktail-card-<%= locals[:cocktail].id %>"><%= locals[:cocktail].name %></a>
      </h2>
      <!-- <span class="flag-icon flag-icon-kr"></span> -->
    </div>
  </div>
