<div class="card">
      <% if locals[:cocktail].photo.key.nil? == false %>
        <% background_url = image_path 'mixer.jpg' %>
      <% else %>
        <% background_url = image_path 'mixer.jpg' %>
      <% end %>
      <%= locals[:cocktail].name %>
      <%= locals[:cocktail].birthplace %>
</div>
