<div class="banner">
  <div class="container">
    <h1>Mixer</h1>
    <h2>Life is short. Mix it up.</h2>
    <p>Here are all cocktails from around the world. Tell us about yours too.</p>
    <%= link_to "Share your own", new_cocktail_path, class: "btn-main" %>
  </div>
</div>
